.icon-insta, .icon-fb, .icon-pint
    fill: #cccccc
    transition: fill 0.3s ease
    
.icon-insta:hover
    fill: url(#SVGID_1_)
    
.icon-pint:hover
    fill: #ca2127
    
.icon-fb:hover  
    fill: #0f92f3
    
.socials svg
    width: 40px
    height: 40px
    display: flex
    
    li
        display: flex
        
    a
        display: flex
    
