---
title: Lynnart
bodyClass: gallery
gallery: [
    {
        srcImg: hero1.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero2.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero3.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero4.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero1.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero2.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero3.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero4.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero1.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero2.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero3.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    },
    {
        srcImg: hero4.jpg,
        name: 'Addicted with fairytales',
        descr: 'oil on canvas 80x70cm'
    }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <div class="preloader-bg js-preloader-bg"></div>
    <div class="preloader js-preloader"></div>


	{% include "partials/_header.html" %}
    
    <div class="full-gallery">
        <div class="full-gallery__title title">Gallery</div>
        <div class="container">
           <div class="full-gallery__in">
                {% for picture in gallery %}
                <div class="full-gallery__item">
                    <a  href="img/{{picture.srcImg}}" class="fancybox picture" data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                        <div class="picture__media">
                            <img src="img/{{picture.srcImg}}" alt="">
                        </div>

                        <div class="picture__name">{{picture.name}}</div>
                        <div class="picture__text">{{picture.descr}}</div>
                    </a>
                    
                </div>

                {% endfor %}
            </div> 
        </div>
        
    </div>



    <footer class="footer">
        <div class="container">
           <div class="footer__in">
                <nav class="nav">
                    <ul class="nav__list">
                        <li><a class="js-nav-link" href="#about">About</a></li>
                        <li><a class="js-nav-link" href="#gallery">Gallery</a></li>
                    </ul>
                </nav>
                <ul class="socials">
                    
                    <li><a href="#">{{ mixins.icon('fb') }}</a></li>
                    <li><a href="#">{% include "icons/_pint.html" %}</a></li>
                    <li><a href="#">{% include "icons/_insta.html" %}</a></li>
                </ul>
            </div> 
        </div>
    </footer>

{% endblock %}
