---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	<div class="slider js-slider">
		<div class="slider__item">
            1
        </div>
		<div class="slider__item">
            2
        </div>
		<div class="slider__item">
            3
        </div>
	</div>

    <section class="hero">
        <div class="container">
            <div class="hero__in">
                <h2 class="hero__title">
                    «I  Dream  my  paint,  and  then i paint  my  dream.» 
                    <span>Vincent van gogh<span>
                </h2>
                    
                <div class="hero__text">
                    <p>"As an artist, I perceive art as a space of absolute freedom to express myself. In each painting I strive to embody a surreal fantasy world where reality and imagination become a natural extension of each other.</p>

                    <p>In this space without the laws of logic and physics it becomes possible to realize any ideas, even the most incredible ones, through amusing and bizarre forms and symbols.</p>

                    <p>Awaken your imagination and become a wizard for a while! Follow me into this “rabbit hole” to figure out how far imagination can lead us."</p>
                </div>

                <div class="hero__media"></div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="about__in">
                <h2 class="about__title">About me</h2>

                <div class="about__wrapper">
                    <div class="about__text">
                        <p>Emiliia Lynnyk   was born in 1988 in Lviv, Ukraine. She specializes in romantic surrealism. Emiliia was twice (in 2019 and 2020 year) chosen as one of the excellent finalists of International Artist Grand Prize Competition (Gallery award), Taipei, Taiwan, and took part at the International salon at Art Revolution Taipei, Taiwan.  Also Emiliia took part in the group exhibitions in China, Germany, Ukraine and Taiwan.</p>

                        <p>n my opinion, art is a “rabbit hole”, and artists are “Cheshire cats” in this Wonderland. I strive so that the paintings don't have a definite and obvious interpretation. My paintings is just a starting point to awake imagination of the Viewer, and to bring about incredible dreams and fantasies of yourself and the world from the subconscious.</p>

                        <p>Each painting begins with a tiny sketch of the idea. Anything can be an inspiration: a phrase from lyrics, a shot from a movie, a funny story, or a girl’s smile from a nearby subway car… The main thing is to catch this feeling or idea, and to convey it in the miniature sketch. Then, in the creative process, I collect all the images and associations into a single whole.</p>
                    </div>

                    <div class="about_media"></div>
                </div>

                <div class="about__wrapper">
                    <h3 class="about__title">Selected exhibitions</h3>

                    <ul class="about__list">
                        <li>2016 – Group exhibition “200 artworks in one place”, Lemo art gallery, Berlin, Germany</li>
                        <li>2017 - Group exhibition “Artists for charity”, Lavra Gallery, Kyiv, Ukraine</li>
                        <li>2017 - Exhibition of the finalist of International Artist Grand Prize Competition, Art Revolution Taipei, Taiwan</li>
                        <li>2017|18 - Group exhibition of the finalist of International Artist Grand Prize Competition, Get Art Museum, Taipei, Taiwan</li>
                        <li>2019 – Gallery award show at Art Revolution Taipei, Taipei, Taiwan</li>
                        <li>2019 - Group exhibition “Art weeks in China”, Russian Cultural Center, Beijing, China</li>
                        <li>2020 – Gallery award show at Art Revolution Taipei, Taipei, Taiwan</li>
                    </ul>

                    <h3 class="about__title">Awards</h3>

                    <ul class="about__list">
                        <li>2018 - finalist of International Artist Grand Prize Competition, Art Revolution Taipei, Taiwan</li>
                        <li>2019 – One of the excellent finalists of International Artist Grand Prize Competition (Gallery award), Taipei, Taiwan</li>
                        <li>2020 – One of the excellent finalists of International Artist Grand Prize Competition (Gallery award), Taipei, Taiwan</li>
                    </ul>
                </div>

                
            </div>
        </div>
    </section>


    <section class="gallery">
        
    </section>

{% endblock %}
