<header class="header js-header-animate">
    <div class="container">
        <div class="header__in">
            <div class="logo js-logo">
                <h1>Emilia lynnyk</h1>
            </div>
            
            <div class="header__menu js-menu">
                <nav class="nav js-nav">
                    <ul class="nav__list">
                        <li><a class="js-nav-link" href="./page.html#about">About</a></li>
                        <li><a class="js-nav-link" href="./page.html#gallery">Gallery</a></li>
                        <li><a class="js-nav-link" href="./page.html#contact">Contact</a></li>
                    </ul>
                </nav>
                <ul class="socials js-socials">
                    
                    <li><a href="#">{{ mixins.icon('fb') }}</a></li>
                    <li><a href="#">{% include "icons/_pint.html" %}</a></li>
                    <li><a href="#">{% include "icons/_insta.html" %}</a></li>
                </ul>
            </div>

            <button class="header__burger js-burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
        </div>
    </div>
</header>