.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #1777f2;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pint {
  width: 1em;
  height: 1em;
  fill: #ca2127;
}
