.slider

	


.slide
	opacity: 0.5
	height: 600px
	display: flex
	margin: 30px
	transition: all 0.4s ease

	img
		width: 100%
		object-fit: cover
		object-position: top center

.slick-center .slide
		opacity: 1
		transform: scale(1.2)
